[user]
  name = roine
	email = feunetre@hotmail.com

[color]
    branch          = auto
    diff            = auto
    interactive     = auto
    status          = auto

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	alias = config --get-regexp alias
	find = "!git ls-files | grep -i"
	grep = grep -Ii
	nohistory = clone --depth 1
	conflict = git diff --name-only --diff-filter=U
[core]
	trustctime = false
	excludesfile = ~/.gitignore
[rebase]
	autosquash = true # Useful when used with fixup
[push]
	default = current # Use current branch's name to push
