[user]
	name = Jon de Montalembert
	email = feunetre@hotmail.com
	signingkey = 60D5FD48

[color]
    branch          = auto
    diff            = auto
    interactive     = auto
    status          = auto

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	alias = config --get-regexp alias
	find = "!git ls-files | grep -i"
	grep = grep -Ii
	nohistory = clone --depth 1
	conflict = git diff --name-only --diff-filter=U
	cof = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
[core]
	trustctime = false
	excludesfile = ~/.gitignore
[rebase]
	autosquash = true # Useful when used with fixup
[push]
	default = current
[branch]
	autoSetupMerge = always
[commit]
	gpgsign = false
